<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>狼人杀发牌员</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link href="https://cdn.bootcss.com/iview/2.0.0-rc.14/styles/iview.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/vue/2.3.3/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/iview/2.0.0-rc.14/iview.min.js"></script>
    <style>
        body {
            background-color: #f5f7f9;
        }
        .vertical-center-modal{
            display: flex;
            align-items: center;
            justify-content: center;            
        }
        .vertical-center-modal .ivu-modal{
            top: 0;
        }
    </style>
</head>
<body>
    <h1 style="text-align:center;">欢迎来到狼人杀Web助手【手机端请横屏使用】</h1>
<div id="app">
    <br>
    <h2 style="text-align:center;">自定义角色清单</h2>
    <div style="display: flex; justify-content: center;align-items: center;flex-direction:column">
        <div flex-direction:column>
            角色名：<input type="text" v-model="rolex.name">
            角色属性：<input type="text" v-model="rolex.description">
            角色logo：
            <select v-model="rolex.cardImage">
                <option value="./cardImage/114514.jpg">选我不要乱动</option>
                <option value="./cardImage/114514.jpg">选上面那个不要乱动</option>
            </select>
            <button @click="tianjia">添加</button>
        </div>
<br>
        <table border="2">
            <tr>
                <th>角色名</th>
                <th>角色属性</th>
                <th>角色数量</th>
                <th>角色图片</th>
            </tr>
            <tr v-for="(item,index) in roles"  :key="index">
                <td>{{item.name}}</td>
                <td>{{item.description}}</td>
                <td>{{item.number}}</td>
                <td>{{item.cardImage}}</td>
                <td>
                    <><button @click="del(index)">删除</button>
                </td>
            </tr>
        </table>
    </margin>
</div>
    <!--导航栏-->
    <div style="display: flex; justify-content: center;align-items: center;flex-direction:column">    
        <i-menu mode="horizontal" theme="sun" active-name="1">
        <Menu-item name="1">
            <Icon type="ionic"></Icon>
        </Menu-item>
        <i-button style="margin-left: 20px" type="primary" @click="handleGameStart">开始游戏！</i-button>
    </i-menu>
    <br></div>

    <!--卡片行-->
    <h2 style="text-align:center;">角色数量调整</h2>
    <Row type="flex" justify="center">
        <i-col style="text-align: center">
            <Card v-for="role in roles" :style="cardStyle">
                <div style="text-align:center">
                    <Row type="flex" justify="space-between" align="top">
                        <i-col span="6">
                            <img :src="role.cardImage" alt="" width="100%">
                        </i-col>
                        <i-col span="16" style="text-align: left">
                            <i-form :model="role" :label-width="80" label-position="left">
                                <Form-item prop="number" :label="role.name">
                                    <Input-number :max="10" :min="0" v-model="role.number"></Input-number>
                                </Form-item>
                            </i-form>
                            <span style="font-size: 12px; display:block; margin-top: 0px">{{ role.description }}</span>
                        </i-col>
                    </Row>
                </div>
            </Card>
        </i-col>
    </Row>
    <Modal
        v-model="roleModal"
        class-name="vertical-center-modal"
        style="text-align: center"
        :mask-closable="false">
        <i-table :columns="roleTableColumn" :data="roleTable" stripe border size="small">
        </i-table>
        <div slot="footer">
            1.<input type="text"><input type="radio" name="radios" value="1" checked><label>死了啦</label>
            <input type="radio" name="radios" value="1" checked><label>没死啦</label>
            <input type="radio" name="radios" value="1" checked><label>放逐啦</label><br>
            2.<input type="text"><input type="radio" name="radios1" value="2" checked><label>死了啦</label>
            <input type="radio" name="radios1" value="2" checked><label>没死啦</label>
            <input type="radio" name="radios1" value="2" checked><label>放逐啦</label><br>
            3.<input type="text"><input type="radio" name="radios2" value="3" checked><label>死了啦</label>
            <input type="radio" name="radios2" value="3" checked><label>没死啦</label>
            <input type="radio" name="radios2" value="3" checked><label>放逐啦</label><br>
            4.<input type="text"><input type="radio" name="radios3" value="4" checked><label>死了啦</label>
            <input type="radio" name="radios3" value="4" checked><label>没死啦</label>
            <input type="radio" name="radios3" value="4" checked><label>放逐啦</label><br>
            5.<input type="text"><input type="radio" name="radios4" value="5" checked><label>死了啦</label>
            <input type="radio" name="radios4" value="5" checked><label>没死啦</label>
            <input type="radio" name="radios4" value="5" checked><label>放逐啦</label><br>
            6.<input type="text"><input type="radio" name="radios5" value="6" checked><label>死了啦</label>
            <input type="radio" name="radios5" value="6" checked><label>没死啦</label>
            <input type="radio" name="radios5" value="6" checked><label>放逐啦</label><br>
            7.<input type="text"><input type="radio" name="radios6" value="7" checked><label>死了啦</label>
            <input type="radio" name="radios6" value="7" checked><label>没死啦</label>
            <input type="radio" name="radios6" value="7" checked><label>放逐啦</label><br>
            8.<input type="text"><input type="radio" name="radios7" value="8" checked><label>死了啦</label>
            <input type="radio" name="radios7" value="8" checked><label>没死啦</label>
            <input type="radio" name="radios7" value="8" checked><label>放逐啦</label><br>
            9.<input type="text"><input type="radio" name="radios8" value="9" checked><label>死了啦</label>
            <input type="radio" name="radios8" value="9" checked><label>没死啦</label>
            <input type="radio" name="radios8" value="9" checked><label>放逐啦</label><br>
            10.<input type="text"><input type="radio" name="radios9" value="10" checked><label>死了啦</label>
            <input type="radio" name="radios9" value="10" checked><label>没死啦</label>
            <input type="radio" name="radios9" value="10" checked><label>放逐啦</label><br>
            11.<input type="text"><input type="radio" name="radios10" value="11" checked><label>死了啦</label>
            <input type="radio" name="radios10" value="11" checked><label>没死啦</label>
            <input type="radio" name="radios10" value="11" checked><label>放逐啦</label><br>
            12.<input type="text">
            <input type="radio" name="radios11" value="12" checked><label>死了啦</label>
            <input type="radio" name="radios11" value="12" checked><label>没死啦</label>
            <input type="radio" name="radios11" value="12" checked><label>放逐啦</label>
        </div>
    </Modal>
</div>
<script>
    new Vue({
        el: '#app',
        data: {
            roleModal: false,
            cardStyle: {
                display: 'inline-block',
                width: window.innerWidth < 768? '90%' : '30%',
                height: '130px',
                margin: window.innerWidth < 768? '0 0 10px 0' : '0 15px 15px 15px',
            },
            roles: [],
            rolex:{
                name: '',
                    description: '',
                    number: 0,
                    cardImage: ''
            },
            roleTableColumn: [{
                title: '号码',
                key: 'index',
                align: 'center'
            },{
                title: '身份',
                key: 'role',
                align: 'center'
            },
            {
                title: 'QQ昵称',
                key: 'qqid',
                align: 'center'
            },
            {
                title: '阵亡情况',
                key: 'die',
                align: 'center'
            }],
            
            roleTable: [],
        },
        created() {
                setTimeout(()=>{
                    this.roles = [{
                    name: '村民',
                    description: '好人阵营最强角色',
                    number: 3,
                    cardImage: './cardImage/村民.jpg'
                },
                {
                    name: '狼人',
                    description: '一个小知识：金刚狼(wolverine)并不是狼人。',
                    number: 3,
                    cardImage: './cardImage/狼人.jpg'
                },
                {
                    name: '预言家',
                    description: '一个没有什么用的角色。',
                    number: 1,
                    cardImage: './cardImage/预言家.jpg'
                },
                {
                    name: '女巫',
                    description: '一个被影子觊觎的角色。常见功能是瞬间领导狼人方获得胜利。',
                    number: 1,
                    cardImage: './cardImage/女巫.jpg'
                },
                {
                    name: '猎人',
                    description: '一个同样没有什么用的角色。',
                    number: 1,
                    cardImage: './cardImage/猎人.jpg'
                },
                {
                    name: '守卫',
                    description: '一个还是没有什么用的角色',
                    number: 0,
                    cardImage: './cardImage/守卫.jpg'
                },
                {
                    name: '白痴',
                    description: '这还要解释什么？？？',
                    number: 0,
                    cardImage: './cardImage/白痴.jpg'
                },
                {
                    name: '野孩子',
                    description: '呃。',
                    number: 0,
                    cardImage: './cardImage/野孩子.jpg'
                },
                {
                    name: '影子',
                    description: '嘿嘿嘿嘿嘿嘿嘿嘿嘿',
                    number: 0,
                    cardImage: './cardImage/小女孩.jpg'
                },
                {
                    name: '骑士',
                    description: '「我的这把刀，是涂满了毒药的短刀。」',
                    number: 0,
                    cardImage: './cardImage/老骑士与生锈的剑.jpg'
                },
                {
                    name: '白狼王',
                    description: '不爆捏着过年？',
                    number: 0,
                    cardImage: './cardImage/白狼王.jpg'
                },]
                },500)
            },
        methods: {
            del(i){
                console.log(i);
                this.roles.splice(i,1)
            },
            tianjia(){
             console.log(this.rolex);
             this.roles.push(this.rolex);
             this.rolex = {
                name: '',
                    description: '',
                    number: 0,
                    cardImage: ''
            }
            },
            handleGameStart() {
                this.roleTable = [];
                var players = [];
                for (role of this.roles) {
                    var numbers = role.number;
                    while (numbers--) {
                        players.push(role.name);
                    }
                }
                players = players.sort((a, b) => Math.random() > 0.5? -1 : 1);
                players = players.sort((a, b) => Math.random() > 0.5? -1 : 1);
                players = players.sort((a, b) => Math.random() > 0.5? -1 : 1);
                players = players.sort((a, b) => Math.random() > 0.5? -1 : 1);
                players = players.sort((a, b) => Math.random() > 0.5? -1 : 1);
                var a = [];
                players.forEach((value, index) => {
                    this.roleTable.push({
                        index: index+1,
                        role: value
                    });
                })
                this.roleModal = true;
            },
            add(){
             console.log(this.roles)  
            },
        },
    })
  </script>
</body>
</html>
